*~
*.bak
*.swp
*.[ao]
TAGS
.nfs*
make.conf
.deps
.config
.files
FL/About_Dialog.C
FL/About_Dialog.H
FL/Fl_Text_Edit_Window.C
FL/Fl_Text_Edit_Window.H
FL/New_Project_Dialog.C
FL/New_Project_Dialog.H
mixer/src/mixer
sequencer/src/gui/event_edit.C
sequencer/src/gui/event_edit.H
sequencer/src/gui/ui.C
sequencer/src/gui/ui.H
sequencer/src/gui/widgets.C
sequencer/src/gui/widgets.H
sequencer/src/sequencer
session-manager/src/jackpatch
session-manager/src/nsmd
session-manager/src/send_osc
session-manager/src/session-manager
timeline/src/TLE.C
timeline/src/TLE.H
timeline/src/timeline
