[Desktop Entry]
Type=Application
Name=New Session Manager (Legacy GUI)
Comment=Audio session manager (Legacy GUI)
Comment[fr]=Gestionnaire de session audio (Ancienne GUI)
Comment[pt]=Gestor de sessões audio (Antiga GUI)
Exec=new-session-manager
Terminal=false
StartupNotify=false
Version=1.0
Categories=AudioVideo;Audio;
