[Desktop Entry]
Type=Application
Name=NSM-Proxy
Comment=Wrapper for executables without direct NSM-Support.
Exec=nsm-proxy
Icon=nsm-proxy
Terminal=false
StartupNotify=false
Version=1.0
Categories=AudioVideo;Audio;
X-NSM-Capable=true
X-NSM-Exec=nsm-proxy
NoDisplay=true
